{% extends "./base.html" %}

{% block title %}
    {% if tag %}
        标签页: {{ tag.name }}
    {% elif category %}
        分类页: {{ category.name }}
    {% endif %}

{% endblock %}

{% block main %}
    <ul>
        {% for p in p_list %}
        <li>
            <a href="/post/{{ p.id }}.html">{{ p.title }}</a>
            <div>
                <span>作者:{{ p.owner.username }}</span>
                <span>分类:{{ p.category.name }}</span>
            </div>
            <p>{{ p.desc }}</p>
        </li>
        {% endfor %}
    </ul>

{% endblock %}