<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>typeidea 博客系统</title>
</head>
<body>
<!--    <h1>list</h1>-->
<!--    <h1>{{ name }}</h1>-->
    {% if tag %}
        标签页：{{ tag.name }}
    {% endif %}

    {% if category %}
        分类页：{{ category.name }}
    {% endif %}

    <ul>
        {% for p in p_list %}
        <li>
            <a href="/post/{{p.id}}.html">{{p.title}}</a>
            <div>
                <span>作者:{{ p.owner.username }}</span>
                <span>分类:{{ p.category.name }}</span>
            </div>
            <p>{{ p.desc }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>